on:
  workflow_dispatch:
permissions:
  id-token: write
  contents: read
jobs:
  copilot-setup-steps:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    environment: copilot
    steps:
      - name: Figma login
        uses: figma/login@Ns6YGs1xbOfhtoXEKTi9TD
        with:
          client-id: ${{ secrets.FIGMA_CLIENT_ID }}
          tenant-id: ${{ secrets.FIGMA_TENANT_ID }}
          
